/.vs/AniccData/config/applicationhost.config
/.vs/AniccData/DesignTimeBuild/.dtbcache.v2
/.vs/AniccData/FileContentIndex/1c820735-6275-4c6d-a428-ddc47a8c0ef3.vsidx
/.vs/AniccData/FileContentIndex/3315e0cb-f91f-4524-bd94-1b71bb1f8e77.vsidx
/.vs/AniccData/FileContentIndex/3c3cc470-3ce7-4c7d-9f5f-f9a909536800.vsidx
/.vs/AniccData/FileContentIndex/cc887c62-db9c-4111-839e-fabda5bff3f2.vsidx
/.vs/AniccData/FileContentIndex/read.lock
/.vs/AniccData/v17/.suo
/AniccData/bin/Debug/net6.0/AniccData.deps.json
/AniccData/bin/Debug/net6.0/AniccData.dll
/AniccData/bin/Debug/net6.0/AniccData.exe
/AniccData/bin/Debug/net6.0/AniccData.pdb
/AniccData/bin/Debug/net6.0/AniccData.runtimeconfig.json
/AniccData/bin/Debug/net6.0/appsettings.Development.json
/AniccData/bin/Debug/net6.0/appsettings.json
/AniccData/bin/Debug/net6.0/Azure.Core.dll
/AniccData/bin/Debug/net6.0/Azure.Identity.dll
/AniccData/bin/Debug/net6.0/CsvHelper.dll
/AniccData/bin/Debug/net6.0/Humanizer.dll
/AniccData/bin/Debug/net6.0/Microsoft.Bcl.AsyncInterfaces.dll
/AniccData/bin/Debug/net6.0/Microsoft.Data.SqlClient.dll
/AniccData/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/AniccData/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Design.dll
/AniccData/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
/AniccData/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
/AniccData/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/AniccData/bin/Debug/net6.0/Microsoft.Extensions.Caching.Abstractions.dll
/AniccData/bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
/AniccData/bin/Debug/net6.0/Microsoft.Extensions.Configuration.Abstractions.dll
/AniccData/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/AniccData/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.dll
/AniccData/bin/Debug/net6.0/Microsoft.Extensions.DependencyModel.dll
/AniccData/bin/Debug/net6.0/Microsoft.Extensions.Logging.Abstractions.dll
/AniccData/bin/Debug/net6.0/Microsoft.Extensions.Logging.dll
/AniccData/bin/Debug/net6.0/Microsoft.Extensions.Options.dll
/AniccData/bin/Debug/net6.0/Microsoft.Extensions.Primitives.dll
/AniccData/bin/Debug/net6.0/Microsoft.Identity.Client.dll
/AniccData/bin/Debug/net6.0/Microsoft.Identity.Client.Extensions.Msal.dll
/AniccData/bin/Debug/net6.0/Microsoft.IdentityModel.Abstractions.dll
/AniccData/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
/AniccData/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
/AniccData/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
/AniccData/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/AniccData/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
/AniccData/bin/Debug/net6.0/Microsoft.OpenApi.dll
/AniccData/bin/Debug/net6.0/Microsoft.SqlServer.Server.dll
/AniccData/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
/AniccData/bin/Debug/net6.0/Mono.TextTemplating.dll
/AniccData/bin/Debug/net6.0/runtimes/browser/lib/net6.0/System.Text.Encodings.Web.dll
/AniccData/bin/Debug/net6.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
/AniccData/bin/Debug/net6.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
/AniccData/bin/Debug/net6.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
/AniccData/bin/Debug/net6.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
/AniccData/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
/AniccData/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
/AniccData/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
/AniccData/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
/AniccData/bin/Debug/net6.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/AniccData/bin/Debug/net6.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/AniccData/bin/Debug/net6.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/AniccData/bin/Debug/net6.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/AniccData/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
/AniccData/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/AniccData/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/AniccData/bin/Debug/net6.0/System.CodeDom.dll
/AniccData/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
/AniccData/bin/Debug/net6.0/System.Drawing.Common.dll
/AniccData/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
/AniccData/bin/Debug/net6.0/System.Memory.Data.dll
/AniccData/bin/Debug/net6.0/System.Runtime.Caching.dll
/AniccData/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
/AniccData/bin/Debug/net6.0/System.Security.Permissions.dll
/AniccData/bin/Debug/net6.0/System.Text.Encodings.Web.dll
/AniccData/bin/Debug/net6.0/System.Text.Json.dll
/AniccData/bin/Debug/net6.0/System.Windows.Extensions.dll
/AniccData/obj/AniccData.csproj.nuget.dgspec.json
/AniccData/obj/AniccData.csproj.nuget.g.props
/AniccData/obj/AniccData.csproj.nuget.g.targets
/AniccData/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/AniccData/obj/Debug/net6.0/AniccData.AssemblyInfo.cs
/AniccData/obj/Debug/net6.0/AniccData.AssemblyInfoInputs.cache
/AniccData/obj/Debug/net6.0/AniccData.assets.cache
/AniccData/obj/Debug/net6.0/AniccData.csproj.AssemblyReference.cache
/AniccData/obj/Debug/net6.0/AniccData.csproj.BuildWithSkipAnalyzers
/AniccData/obj/Debug/net6.0/AniccData.csproj.CopyComplete
/AniccData/obj/Debug/net6.0/AniccData.csproj.CoreCompileInputs.cache
/AniccData/obj/Debug/net6.0/AniccData.csproj.FileListAbsolute.txt
/AniccData/obj/Debug/net6.0/AniccData.dll
/AniccData/obj/Debug/net6.0/AniccData.GeneratedMSBuildEditorConfig.editorconfig
/AniccData/obj/Debug/net6.0/AniccData.genruntimeconfig.cache
/AniccData/obj/Debug/net6.0/AniccData.GlobalUsings.g.cs
/AniccData/obj/Debug/net6.0/AniccData.MvcApplicationPartsAssemblyInfo.cache
/AniccData/obj/Debug/net6.0/AniccData.MvcApplicationPartsAssemblyInfo.cs
/AniccData/obj/Debug/net6.0/AniccData.pdb
/AniccData/obj/Debug/net6.0/apphost.exe
/AniccData/obj/Debug/net6.0/ref/AniccData.dll
/AniccData/obj/Debug/net6.0/refint/AniccData.dll
/AniccData/obj/Debug/net6.0/staticwebassets.build.json
/AniccData/obj/Debug/net6.0/staticwebassets/msbuild.build.AniccData.props
/AniccData/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.AniccData.props
/AniccData/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.AniccData.props
/AniccData/obj/project.assets.json
/AniccData/obj/project.nuget.cache
